:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  background-color: rgb(149, 223, 255);
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.to-do-list {
  color:#242424;
  min-width: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-input{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  gap:5%;
}
.text-input input{
  width: 50vh;
  height:5vh;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: aliceblue;
  color:black;
}
.text-input input:focus{
  outline: none;
  box-shadow: 0 0 0 2px #7fbdff;
}
.text-input button{
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  border: none;
  border-radius: 4px;
  background-color: #0055b0;
  color: white;
  cursor: pointer;
}
.task-list{
  margin: 1rem;
  padding: 0;
  list-style: none;
  width : 100%;
  position: relative;
  padding:0 3vh 0 0;
}
.task-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem;
  border: 1px solid #0055b0;
  margin:5px;
  background-color: #dcedff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease;
  font-size: 1rem;
  color: #242424;
  font-weight: 500;
  min-width: 150vh;
  height: 4.5vh;
  position: relative;
}
.task-item:hover{
  background-color: #ebf5fb;
}
.task-item input{
  margin-right: 1rem;
  cursor: pointer;
  width: 3vh;
  height: 3vh;
}
.btns{
  width: 20%;
  color: white;
  display: flex;
  justify-content: space-around;
}
.btns button{
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.btns #del{
  background-color: #ff0000;
}
.btns #del:hover{
  background-color: #d20000;
  transition: background-color 0.3s ease;
}
.btns #up{
  background-color: #0055b0;
}
.btns #up:hover{
  background-color: #2f36f6cd;
  transition: background-color 0.3s ease;
}
.btns #down{
  background-color: #0055b0;
}
.btns #down:hover{
  background-color: #2f36f6cd;
  transition: background-color 0.3s ease;
}